exportPattern("^[^\\.]")
useDynLib(onion)

importFrom("grDevices", "hsv")
importFrom("graphics", "persp", "plot", "points")
importFrom("stats", "rbinom", "rnorm", "rpois", "runif", "uniroot", "integrate")
importFrom("emulator", "cprod","tcprod","ht")
importFrom("utils", "head")

import("methods")
