exportPattern("^[^\\.]")
useDynLib(onion)

S3method(str, onion)
S3method(exp, onion)
S3method(log, onion)
S3method(sin, onion)
S3method(cos, onion)
S3method(tan, onion)
S3method(sinh, onion)
S3method(cosh, onion)
S3method(tanh, onion)
S3method(asin, onion)
S3method(acos, onion)
S3method(atan, onion)
S3method(asinh, onion)
S3method(acosh, onion)
S3method(atanh, onion)
S3method(as.matrix, onion)
S3method("[", onion)
S3method("[<-", onion)
S3method(names, onion)
S3method("names<-", onion)
S3method(condense, onion)
S3method(c, onion)
S3method(t, onion)
S3method(sum, onion)
S3method(cumsum, onion)
S3method(print, quaternion)
S3method(print, octonion)
S3method("set.comp<-", onion)
S3method(seq, onion)
S3method(length, onion)
S3method("length<-", onion)
S3method(plot, onion)
S3method(rep,onion)
S3method(sign,onion)
S3method(sqrt,onion)
S3method(get.comp,onion)
S3method(Ops,onion)

S3method("Re<-", quaternion)
S3method("Im<-", quaternion)
S3method("i<-", quaternion)
S3method("j<-", quaternion)
S3method("k<-", quaternion)

S3method("Re<-", octonion)
S3method("Im<-", octonion)
S3method("i<-", octonion)
S3method("j<-", octonion)
S3method("k<-", octonion)
S3method("l<-", octonion)
S3method("il<-", octonion)
S3method("jl<-", octonion)
S3method("kl<-", octonion)

S3method("Re", quaternion)
S3method("Im", quaternion)
S3method("i", quaternion)
S3method("j", quaternion)
S3method("k", quaternion)

S3method("Re", octonion)
S3method("Im", octonion)
S3method("i", octonion)
S3method("j", octonion)
S3method("k", octonion)
S3method("l", octonion)
S3method("il", octonion)
S3method("jl", octonion)
S3method("kl", octonion)

S3method(Conj, onion)
S3method(Mod, onion)
S3method("Mod<-", onion)
S3method(Norm, onion)

S3method(g.even, onion)
S3method(g.odd, onion)
S3method(e.even, onion)
S3method(e.odd, onion)

S3method("%<*>%", onion)
S3method("%>*<%", onion)
S3method("%<.>%", onion)
S3method("%>.<%", onion)



importFrom("grDevices", "hsv")
importFrom("graphics", "persp", "plot", "points")
importFrom("stats", "rbinom", "rnorm", "rpois", "runif")
