exportPattern("^[^\\.]")
useDynLib(onion)

importFrom("grDevices", "hsv")
importFrom("graphics", "persp", "plot", "points")
importFrom("stats", "rbinom", "rnorm", "rpois", "runif")
importFrom("emulator", "cprod","tcprod","ht")

import("methods")
import("mathjaxr")

importClassesFrom(Matrix,index)

importClassesFrom("freealg", "dot")
importMethodsFrom("freealg", "[")
